.login, .sign-up {
    background: var(--bg-light);
    margin: 0rem 1.5rem;
    padding: 1.5rem;
    width: 100%;
    border-radius: 1.2rem;
    display: none;
}

.auth-form {
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.auth-form>.logo {
    margin: 1rem;
}

.auth-form>h2 {
    font-size: 1.5rem;
    text-shadow: var(--text-shadow);
    text-align: center;
}

.auth-form>input {}

.auth-form label>a {
    text-decoration: none;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    color: var(--text-dark);
}

.auth-form>button {
    background-color: var(--btn-color);
    width: 100%;
    text-transform: uppercase;
    color: var(--text-light);
    border-radius: 0.625rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    border: 0px;
    box-shadow: var(--text-shadow);
}

.form-group {
    padding: 0rem 0rem 2rem 0rem;
}

.form-group>label {
    text-shadow: var(--text-shadow);
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: end;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.form-group>input {
    height: 2.5rem;
    border: 1px solid #2D9CDB;
    width: calc(100% - 2rem);
    border-radius: 0.625rem;
    /* box-shadow: var(--text-shadow); */
    padding: 0px 1rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Comfortaa';
}

.form-group>input:focus-visible {
    outline: none;
    box-shadow: var(--text-shadow);
}

.terms-parivacy{
    text-align: center;
    font-family: Comfortaa;
    font-size: 0.7rem;
    font-style: normal;
    display: block;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.8rem;
    color: var(--text-dark);
}
.terms-parivacy>a{
    color: var(--text-dark);
}